@font-face {
    font-family: AppleTitle;
    src: url(/font/SF-Pro-Display-Regular.otf);
}

@font-face {
    font-family: AppleThin;
    src: url(/font/SF-Pro-Display-Light.otf);
}



* {
    margin: 0;
    font-family: AppleTitle;
}

.wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/video/Дизайн\ без\ названия.gif);
    background-size: cover;

}

.content {
    width: 95%;
    height: 98vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

span#red {
    background-color: red;
    color: white;
    padding: 2px;
    border-radius: 2px;
    font-size: 12px;
    margin: 5px;
    transition: 0.7s;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

span#red:hover {
    background-color: rgb(136, 54, 213);
    transition: 0.7s;
}

p#title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: AppleThin;
}

h1#title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    width: 100%;
    min-height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.button {
    width: 100%;
    min-height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    width: 130px;
    min-height: 30px;
    margin: 4px;
    cursor: pointer;
    background: none;
    border: solid 1px rgb(28, 28, 28);
    border-radius: 2px;
    transition: 0.6s;
}

input:hover {
    background-color: rgb(28, 28, 28);
    color: white;
    transition: 0.6s;
    min-height: 30px;
}

input:active {
    background-color: rgb(28, 28, 28);
    color: white;
    transition: 0.6s;
    min-height: 30px; 
}

input:focus {
    background-color: rgb(28, 28, 28);
    color: white;
    transition: 0.6s; 
    min-height: 30px;
}


.footer {
    width: 100%;
    min-height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

p.footer {
    color: rgba(0, 0, 0, 0.414);
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: AppleThin;
}


input {
    color: black;
}



@media screen and (max-width: 600px) {
    p.footer {
        font-size: 10px;
    }

   .footer {
       width: 90%;
       height: 7vh;
   }
}




.game_wrapper {
    width: 90%;
    height: 90vh;
    background-color: none;
    
}

.game_header {
    width: 100%;
    height: 5vh;
    display: flex;
    background-color: none;
}

.game_logo {
    width: 8%;
    height: 5vh;
    display: flex;
    justify-content: center;
   
}

h1#game_logo {
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game_options {
    width: 84%;
    height: 5vh;
}

i {
    color: black;
    font-size: 10px;
}

.game_icons {
    width: 8%;
    height: 5vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

svg {
    width: 25px;
    height: 25px;
    cursor: pointer;
    transition: 0.8s;
    background: none;
    padding: 4px;
    border-radius: 50%;
}

svg:hover {
    cursor: pointer;
    background-color: none;
    color: black;
    transition: 0.6s;
}

svg#game_button_close {
    background-color: none;
    color: black;
    transition: 0.5s;
}

svg#game_button_close:hover {
    background-color: none;
    color: red;
    transition: 0.5s;
}

svg#game_button_home {
    background-color: none;
    color: black;
    transition: 0.5s;
}

svg#game_button_home:hover {
    background-color: none;
    color: green;
    transition: 0.5s;
}

svg#game_button_repeat:hover {
    color: yellow;
    transition: 0.5s;
}

svg#game_button_repeat {
    background-color: none;
    color: rgb(60, 60, 60);
    transition: 0.5s;
}


@media screen and (max-width: 600px) {
    .game_logo {
        width: 25%;
    }

    .game_icons {
        width: 25%;
    }

    .game_options {
        width: 50%;
    }

    h1#game_logo {
        font-size: 15px;
    }

    svg {
        width: 16px;
        height: 16px;
    }

    .game_header {
        border-bottom: solid 1px rgba(0, 0, 0, 0.415);
    }
}

.game_main {
    width: 100%;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
}